doctype html
html
    head 
        title NatoursApp
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type ='image/png' href='img/favicon.png')
    body 
        h1 hello from my base template 
        p any thing to be displayed
    
